/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*//*--------------------*//*--------------------*/


.header{
	width: 100%;
	background-image: url(/img/bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%; 
}
.container{
	width: 940px;
	margin: 0 auto;
}
.header__logo img{
	display: block;
	margin: 0 auto;
	padding-top: 40px;
}
.header__title{
	font-family: 'Bebas Neue', cursive;
	font-size:60px;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-top:306px ;
	color:#ffff;
	line-height: 70.31px;
	letter-spacing: 5.71px;
}
.header__subtitle{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	display: block;
	margin: 0 auto;
	text-align: center;
	color: #ffff;
	line-height: 18.75px;
}
.scroll{
	color: #ffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	display: block;
	margin: 0 auto;
	text-align: center;
	line-height: 12.89px;
	letter-spacing: 3.7px;
	padding-top: 221px;
	padding-bottom: 71px;
	
}
.navbar{
	border-top: solid #E6E6E6 1px;
	border-bottom: solid #E6E6E6 1px;
}
.navbar__body{
	padding-top: 24px;
	padding-bottom: 23px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.navbar__list{
	display: flex;
}
.navbar__list a{
	margin: 0 0 0 48px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 14px;
	color:#000
}
.navbar__list a:hover{
	margin: 0 0 0 48px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 14px;
	color:#00A4E5;
}
.about{
	
}
.about__body{
	margin: 0 auto;
}
.about__title{
	padding-top: 57px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 21.09px;
	letter-spacing: 2.31px;
	text-align: center;
}
.about__title__underline img{
	padding-top: 11px;
	display: block;
	margin: 0 auto;
}
.about__content{
	display: flex;
	justify-content: space-between;
	padding-top: 81px;
	gap: 50px;
	
}
.about__content__text{
	width: 405px;
}
.about__content__text__title{
	width: 405.08px;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
line-height: 23.44px;
letter-spacing: 0.17px;
font-weight:600;
}
.about__content__text__title span{
	color:#16ACE8;
}
.about__content__text__subtitle{
	padding-top: 30px;
	width: 405.08px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 23px;
	letter-spacing: 0.19px;
}
.about__content__images{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 25px ;

}
.plan{

}
.manage{

}
.deliver{

}



